#차후 릴리즈
app_rewrite 
*.code-workspace


# opencode
.codegraph
AGENTS.md
.omo
sqlite_test

# LLM Create Folder
A_*

*_prototype
/test/*

node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

vitest-examples