/* 모든 HTML 요소에 적용 */

@font-face {
	font-family: 'NxMaple';
	/* 사용할 이름 정의 */
	src: url('lib/assets/Maplestory OTF Light.otf') format('opentype');
}

main,
html {
	margin: 0;
	padding: 0;

	min-width: 100dvw;
	min-height: 100dvh;
	max-width: 100dvw;
	max-height: 100dvh;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

#chat_input {
	width: 60dvw;
	height: 20dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 0.2rem solid gray;
	border-radius: 1rem;
	margin-bottom: 2rem;
	padding: 0.5em;
	background-color: #151515;
}
#user_input {
	resize: none;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1.2rem;
	z-index: 998;
}

* {
	box-sizing: border-box;
	color: white;
	font-family: 'NxMaple';
}

button {
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
	/* color: white; */
	margin: 0;
	padding: 0;
	text-align: start;
}